#set($fecha = $ctx.args.fecha)
#if(!$util.isNull($fecha) && $fecha != "")
  #set($finalFecha = $fecha)
#else
  ## Tomar solo YYYY-MM-DD de la fecha actual
  #set($finalFecha = $util.time.nowISO8601().substring(0,10))
#end

{
  "version": "2018-05-29",
  "operation": "DeleteItem",
  "key": {
    "alumnoID": $util.dynamodb.toDynamoDBJson($ctx.args.alumnoID),
    "fecha": $util.dynamodb.toDynamoDBJson($finalFecha)
  },
  "condition": {
    "expression": "attribute_exists(alumnoID) AND attribute_exists(fecha)"
  }
}
