{
  "version" : "2018-05-29",
  "operation" : "PutItem",
  "key" : {
    "cct" : $util.dynamodb.toDynamoDBJson($ctx.args.input.cct)
  },
  "attributeValues" : {
    "nivel_escolar": $util.dynamodb.toDynamoDBJson($ctx.args.input.nivel_escolar),
    "entidad": $util.dynamodb.toDynamoDBJson($ctx.args.input.entidad),
    "municipio": $util.dynamodb.toDynamoDBJson($ctx.args.input.municipio),
    "localidad": $util.dynamodb.toDynamoDBJson($ctx.args.input.localidad),
    "direccion": $util.dynamodb.toDynamoDBJson($ctx.args.input.direccion),
    "nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
    "sostenimiento": $util.dynamodb.toDynamoDBJson($ctx.args.input.sostenimiento)
  }
}
