{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "cct": $util.dynamodb.toDynamoDBJson($ctx.args.cct)
  },
  "update": {
    "expression": "SET entidad = :entidad, municipio = :municipio, localidad = :localidad, nivel_escolar = :nivel_escolar, nombre = :nombre, direccion = :direccion, sostenimiento = :sostenimiento",
    "expressionValues": {      
      ":entidad": $util.dynamodb.toDynamoDBJson($ctx.args.input.entidad),
      ":municipio": $util.dynamodb.toDynamoDBJson($ctx.args.input.municipio),
      ":localidad": $util.dynamodb.toDynamoDBJson($ctx.args.input.localidad),      
      ":nivel_escolar": $util.dynamodb.toDynamoDBJson($ctx.args.input.nivel_escolar),
      ":nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
      ":direccion": $util.dynamodb.toDynamoDBJson($ctx.args.input.direccion),
      ":sostenimiento": $util.dynamodb.toDynamoDBJson($ctx.args.input.sostenimiento)
    }
  },
  "condition": {
    "expression": "attribute_exists(cct)"
  }
}
