{
  "version" : "2018-05-29",
  "operation" : "PutItem",
  "key" : {
    "id" : $util.dynamodb.toDynamoDBJson($ctx.args.input.id)
  },
  "attributeValues" : {
    "curp": $util.dynamodb.toDynamoDBJson($ctx.args.input.curp),
    "gradoID": $util.dynamodb.toDynamoDBJson($ctx.args.input.gradoID),
    "escuelaID": $util.dynamodb.toDynamoDBJson($ctx.args.input.escuelaID),
    "nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
    "fecha_nacimiento": $util.dynamodb.toDynamoDBJson($ctx.args.input.fecha_nacimiento),
    "matricula": $util.dynamodb.toDynamoDBJson($ctx.args.input.matricula),
    "tutorIDs": $util.dynamodb.toDynamoDBJson($ctx.args.input.tutorIDs)
  }
}
