{
  "version" : "2017-02-28",
  "operation" : "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.id)
  },
  "update": {
    "expression": "SET curp = :curp, escuelaID = :escuelaID, fecha_nacimiento = :fecha_nacimiento, gradoID = :gradoID, matricula = :matricula, nombre = :nombre, tutorIDs = :tutorIDs, updatedAt = :updatedAt",
    "expressionValues": {
      ":curp": $util.dynamodb.toDynamoDBJson($ctx.args.input.curp),
      ":escuelaID": $util.dynamodb.toDynamoDBJson($ctx.args.input.escuelaID),
      ":fecha_nacimiento": $util.dynamodb.toDynamoDBJson($ctx.args.input.fecha_nacimiento),
      ":gradoID": $util.dynamodb.toDynamoDBJson($ctx.args.input.gradoID),
      ":matricula": $util.dynamodb.toDynamoDBJson($ctx.args.input.matricula),
      ":nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
      ":tutorIDs": $util.dynamodb.toDynamoDBJson($ctx.args.input.tutorIDs),
      ":updatedAt": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
    }
  }
}
