{
  "version" : "2018-05-29",
  "operation" : "PutItem",
  "key" : {
    "id" : $util.dynamodb.toDynamoDBJson($ctx.args.input.id)
  },
  "attributeValues" : {
    "escuelaID": $util.dynamodb.toDynamoDBJson($ctx.args.input.escuelaID),
    "curp": $util.dynamodb.toDynamoDBJson($ctx.args.input.curp),
    "rfc": $util.dynamodb.toDynamoDBJson($ctx.args.input.rfc),
    "nivel_academico": $util.dynamodb.toDynamoDBJson($ctx.args.input.nivel_academico),
    "cedula": $util.dynamodb.toDynamoDBJson($ctx.args.input.cedula),
    "correo": $util.dynamodb.toDynamoDBJson($ctx.args.input.correo),
    "telefono": $util.dynamodb.toDynamoDBJson($ctx.args.input.telefono),
    "materias": $util.dynamodb.toDynamoDBJson($ctx.args.input.materias),
    "nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
    "domicilio": $util.dynamodb.toDynamoDBJson($ctx.args.input.domicilio)
  }
}
