{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.id)
  },
  "update": {
    "expression": "SET #correo = :correo, #curp = :curp, #escuelaID = :escuelaID, #materias = :materias, #nombre = :nombre, #telefono = :telefono",
    "expressionNames": {
      "#correo": "correo",
      "#curp": "curp",
      "#escuelaID": "escuelaID",
      "#materias": "materias",
      "#nombre": "nombre",
      "#telefono": "telefono"
    },
    "expressionValues": {
      ":correo": $util.dynamodb.toDynamoDBJson($ctx.args.input.correo),
      ":curp": $util.dynamodb.toDynamoDBJson($ctx.args.input.curp),
      ":escuelaID": $util.dynamodb.toDynamoDBJson($ctx.args.input.escuelaID),
      ":materias": $util.dynamodb.toDynamoDBJson($ctx.args.input.materias),
      ":nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
      ":telefono": $util.dynamodb.toDynamoDBJson($ctx.args.input.telefono)
    }
  },
  "condition": {
    "expression": "attribute_exists(id)"
  }
}
