{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.id)
  },
  "update": {
    "expression": "SET #correo = :correo, #curp = :curp, #escuelaID = :escuelaID, #materias = :materias, #nombre = :nombre, #telefono = :telefono, #rfc = :rfc, #nivel_academico = :nivel_academico, #domicilio = :domicilio",
    "expressionNames": {
      "#correo": "correo",
      "#curp": "curp",
      "#escuelaID": "escuelaID",
      "#materias": "materias",
      "#nombre": "nombre",
      "#telefono": "telefono",
      "#rfc": "rfc",
      "#nivel_academico": "nivel_academico",
      "#domicilio": "domicilio"
    },
    "expressionValues": {
      ":correo": $util.dynamodb.toDynamoDBJson($ctx.args.input.correo),
      ":curp": $util.dynamodb.toDynamoDBJson($ctx.args.input.curp),
      ":escuelaID": $util.dynamodb.toDynamoDBJson($ctx.args.input.escuelaID),
      ":materias": $util.dynamodb.toDynamoDBJson($ctx.args.input.materias),
      ":nombre": $util.dynamodb.toDynamoDBJson($ctx.args.input.nombre),
      ":telefono": $util.dynamodb.toDynamoDBJson($ctx.args.input.telefono),
      ":rfc": $util.dynamodb.toDynamoDBJson($ctx.args.input.rfc),
      ":nivel_academico": $util.dynamodb.toDynamoDBJson($ctx.args.input.nivel_academico),
      ":domicilio": $util.dynamodb.toDynamoDBJson($ctx.args.input.domicilio)
    }
  },
  "condition": {
    "expression": "attribute_exists(id)"
  }
}
